# Data Science Tools and  Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
-  List popular languages for data science
-  List commonly used libraries for data science
-  Create a table
-  Solve a arithmetic problem

Some of the popular languages that Data Scientists use are:
1.  python
2.  R
3.  Scala
4.  Sql

Some of the commonly used libraries used by Data Scientists include:
-  computing libraries like pandas,numpy 
-  visualization libabries like matplotlib, seaborn
-  machine learning libraries like scikit learn,pytorch, tensorflow

| Data Science Tools |
|:-----------------:|
| jupyter notebook|
| vs code|
| r studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

x=3
y=4
z=5
sum=(x*y)+z
print(sum)

17

In [5]:
 # This will convert 200 minutes to hours by diving by 60
    
min=200
hr=min/60
print(hr)

3.3333333333333335

## Author
Shibith Chandran M